In [1]:
#1- write 5 different variables and check for it's data types using type() function
name="Mohamed"
print(name,type(name))
age="21"
print(age,type(age))
city= "Mansoura"
print(city,type(city))
GPA=3.91
print(GPA,type(GPA))
Job= False
print(Job,type(Job))

Mohamed <class 'str'>
21 <class 'str'>
Mansoura <class 'str'>
3.91 <class 'float'>
False <class 'bool'>

In [2]:
#2- write 3 variable and take it in one line using split() function and print it
x,y,z=input("Enter value:").split()
print(x,y,z)

Enter value: 1 2 3

1 2 3

In [3]:
#3- write 3 integer variables and take it in one line and print it.
x,y,z = map(int, input("input 3 variables:").split())
print(x,y,z)

input 3 variables: 4 5 6

4 5 6

In [4]:
#4- write program take number from user then convert it to string " casting " then print length of this string using len() function
number=int(input("Number:"))
string=str(number)
print(len(string))

Number: 3333

4

In [5]:
#5- take integer multiple number in one line using map and split then print maximum and minimum number from it using min and max function
Numbers=tuple(map(int,input("Enter Number:").split()))
minimum= min(Numbers)
print(f"Minimum:{minimum}")
maximum= max(Numbers)
print(f"Maximum:{maximum}")

Enter Number: 33 22 6666 777777

Minimum:22
Maximum:777777